/* assign color variables */

/*      Selection List
•	#C53436	Tomato Jam
•	#FFDE42	Mustard
•	#D2AC78	Soft Fawn
•	#053762	Oxford Navy
•	#A4C4C9	Light Blue
•	#B5D0FF	Baby Blue Ice
•	#CEE3F3	Pale Sky        */


/* assign font variables

        Selection List

•	Merienda
•	Boogaloo */


/* @import url(); */

:root{
    --large-text: Boogaloo, sans-serif;
    --small-text: Merienda, cursive;
    --color: ;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 700px;
    align-content: center;
    margin: auto;
    margin-top: 1vw;
}

nav {
    display: border;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: .5em;
}

a {
    text-decoration: none;
    color: #C53436;
}

#calendar {
    margin: 2em 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr, th, td {
    border: 1px solid black;
}

td, th {
    width: 100px;
    height: 100px;
}

th {
    font-family: var(--large-text);
    letter-spacing: .08em;
}

td {
    align-content: start;
}

#logo {
    max-width: 99px;
}

footer {
    display: flex;
    justify-content: space-between;
}

.dayn {
    text-align: right;
    align-items: start;
    margin-right: .1em;
}

.dayt {
    text-align: center;
    margin-top: -.6em;
    margin-bottom: .7em;
    font-family: var(--large-text);
    font-weight: 300;
}

.days, .daym {
    margin: .9em .3em 0;
    font-family: var(--small-text);
    font-weight: 400;
    font-size: 55%;
}

#printout {
    align-content: center;
    text-align: center;
}