/* assign color variables */

/*      Selection List
•	#C53436	Tomato Jam
•	#FFDE42	Mustard
•	#D2AC78	Soft Fawn
•	#053762	Oxford Navy
•	#A4C4C9	Light Blue
•	#B5D0FF	Baby Blue Ice
•	#CEE3F3	Pale Sky        */



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 700px;
    align-content: center;
    margin: auto;
    margin-top: 1vw;
}

nav {
    display: border;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: .5em;
}

a {
    text-decoration: none;
    color: ;
}

#calendar {
    margin: 2em 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr, th, td {
    border: 1px solid black;
}

td, th {
    width: 100px;
    max-width: 100px;
    height: 100px;
    max-height: 100px;
}

td {
    align-content: start;
}

#logo {
    max-width: 99px;
}

footer {
    display: flex;
    justify-content: space-between;
}

.dayn {
    text-align: right;
    align-items: start;
}

.dayt {
    text-align: center;
    margin-top: -1em;
    margin-bottom: 1em;
}

.days {
    margin: .3em .3em 0;
}

.daym {
    margin: .3em .3em 0;
}

/* .daytldb {
    text-align: center;
    margin-top: -.5em;
} */

#printout {
    align-content: center;
    text-align: center;
}